/*
Theme Name: Valt.digital (Hello Elementor Child)
Theme URI: https://awen.online
Description: Hello Elementor WordPress theme for Valt.digital
Author: Ian McCullough
Author URI: https://awen.online
Template: hello-elementor
Version: 1.0
*/

/* Parent stylesheet should be loaded from functions.php not using @import */